.App {
  text-align: center;
  color: #1f3a8a;
  background: #d4d5d6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.BasDePage {
  width: 100%;
}

.INSA-logo {
  height:2.5rem;
  float:right;
}

.Inventory-row {
  display: flex;
  width: 100%;
}

.Inventory-cell {
  width:25%;
  
}

.Inventory-input {
  background: #172b66;
  color: #a6a6a6;
  border-radius: 10px;
  border-color: #172b66;
  width: 100%;
  margin-top: 3%;
}

.Inventory-input-button {
  margin-top: 3%;
  border-radius: 25px;
  background: #eff3f7;
  color: #1f3a8a;
  min-width: 33%;
}

.Inventory-change-input {
  margin-top: 3%;
  border-radius: 25px;
  background: #fff;
  color: #1f3a8a;
  min-width: 50px;
  max-width: 50%;
}

/* ISSU de : https://vembarrajan.medium.com/html-css-tricks-scroll-able-table-body-tbody-d23182ae0fbc*/
.fixed_header{
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
display:block;
width: 100%;
overflow-x: hidden;
overflow-y: auto;
height: 50vh;
}

.fixed_header thead tr {
 display: block;
 border-radius: 25px;
 background-color: #f3f3f3;
}

.fixed_header th {
padding: 5px;
text-align: center;
width: 200px;
}

.fixed_header td {
  padding: 5px;
  text-align: center;
  width: 200px;
  }

/* FIN ISSU DE*/

.Bouton-tableau {
  border-radius: 25px;
  background: #1F3A8A;
  color: #fff;
  min-width: 33%;
}

.expired_or_none {
  border-radius: 25px;
  background: #800000;
}

.critical {
  border-radius: 25px;
  background: #ff0000;
}

.warning {
  border-radius: 25px;
  background: #ef7c43;
}

.Ajoute-produit {
  flex:30%;
  border-radius: 25px;
  background: #1F3A8A;
  padding: 20px;
  height: 100%;
  color:#fff;
  margin: 10px;
}

.Tableau-et-boutons {
  margin:10px;
  padding: 20px;
  border-radius: 25px;
  background: #fff;
  flex:100%;
  display:table;
  min-height: 100%;
}

.Partie-fonctionnelle {
  display: flex; 
  height: 100%;
}


.Boutons-en-bas {
  min-height:1%;
  padding: 15px;
  display: flex;
}

.Tableau {
  min-height: 90%;
}