.App {
  text-align: center;
  color: #1f3a8a;
  background: #d4d5d6;
  min-height: 100%;
  display: grid;
  align-self: start;
  justify-self: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.BasDePage {
  width: 100%;
}

.INSA-logo {
  height:2.5rem;
  float:right;
}

.Inventory-row {
  display: flex;
  width: 100%;
}

.Inventory-cell {
  width:25%;
}

.Inventory-input {
  background: #172b66;
  color: #a6a6a6;
  border-radius: 10px;
  border-color: #172b66;
  width: 100%;
  margin-top: 3%;
  margin: 7px;
  position: relative;
}

.Inventory-input-button {
  margin-top: 3%;
  border-radius: 25px;
  background: #eff3f7;
  color: #1f3a8a;
  min-width: 33%;
}

.Inventory-input-button:hover {
  background-color: #bdc7d4;
}

.Inventory-change-input {
  margin-top: 2%;
  margin-bottom: 4%;
  border-radius: 25px;
  background: #fff;
  color: #1f3a8a;
  min-width: 50px;
  max-width: 50%;
}

#search-bar {
  width: 50%;
  text-align: left;
}

/* ISSU de : https://vembarrajan.medium.com/html-css-tricks-scroll-able-table-body-tbody-d23182ae0fbc*/
.fixed_header{
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
display:block;
width: 100%;
overflow-x: hidden;
overflow-y: auto;
height: 50vh;
}

.fixed_header thead tr {
 display: block;
 border-radius: 25px;
 background-color: #f3f3f3;
}

.fixed_header th {
padding: 5px;
text-align: center;
width: 200px;
}

.fixed_header td {
  padding: 5px;
  text-align: center;
  width: 200px;
  }

/* FIN ISSU DE*/

.Bouton-tableau {
  border-radius: 25px;
  background: #1F3A8A;
  color: #fff;
  min-width: 33%;
  cursor: pointer;
}

.Bouton-tableau:hover {
  background-color: #cbd0da;
}

.expired_or_none {
  border-radius: 25px;
  background: #800000;
}

.critical {
  border-radius: 25px;
  background: #ff0000;
}

.warning {
  border-radius: 25px;
  background: #ef7c43;
}

.form-column {
  
  color:#fff;
  margin: 10px;
  flex:30%;
  min-height: 90%;
  max-height: 90%;
}

.choix-groupe {
  border-radius: 25px;
  padding: 20px;
  background: #1F3A8A;
  margin:5px;
  height:30%;
}

.Ajoute-produit {
  border-radius: 25px;
  padding: 20px;
  background: #1F3A8A;
  margin:5px;
  height:63.5%;
}

.Tableau-et-boutons {
  margin:10px;
  padding: 20px;
  border-radius: 25px;
  background: #fff;
  flex:100%;
  display:table;
  min-height: 90%;
  max-height: 90%
}

.Partie-fonctionnelle {
  display: flex; 
  height: 100%;
}


.Boutons-en-bas {
  min-height:1%;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}


.Tableau {
  min-height: 90%;
}

/*new*/
.suggestion-list {
  position: relative;
  top: 100%;
  border: 1px solid black;
  border-radius: 7px;
  background: rgb(162, 230, 255);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #cbd0da;
  border-radius: 7px;
}

/* POPUP CODE */


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  text-align: left;
}

.popup button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #1f3a8a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  float:right ;
}

.popup button:hover {
  background: #0056b3;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

