.App {
  text-align: center;
  color: #1f3a8a;
  background: #d4d5d6;
  min-height: 100%;
  display: grid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.BasDePage {
  width: 100%;
}

.INSA-logo {
  height:2.5rem;
  float:right;
}

.Inventory-row {
  display: flex;
  width: 100%;
}

.Inventory-cell {
  width:25%;
}

.Inventory-input {
  background: #172b66;
  color: #a6a6a6;
  border-radius: 45px;
  border-color: #172b66;
  margin-top: 3%;
  margin: 7px;
  position: relative;
  outline:none;
  border:none;
  height: 30px;
  width:90%;
}

.Inventory-input-button {
  margin-top: 3%;
  background: #eff3f7;
  color: #1f3a8a;
  min-width: 33%;
  height:21px;
  margin: 4px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.Inventory-input-button:hover {
  background-color: #bdc7d4;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}

.Inventory-change-input {
  margin-top: 2%;
  margin-bottom: 4%;
  border-radius: 25px;
  background: #fff;
  color: #1f3a8a;
  min-width: 50px;
  max-width: 50%;
  outline: none;
  border-color: #172b66;
}

#search-bar {
  width: 100%;
  text-align: left;
  height: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

#search-bar:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}


/* ISSU de : https://vembarrajan.medium.com/html-css-tricks-scroll-able-table-body-tbody-d23182ae0fbc*/
.fixed_header{
  table-layout: fixed;
  border-collapse: collapse;
  width:100%
}

.fixed_header tbody{
display:block;
width: 100%;
overflow-x: hidden;
overflow-y: auto;
height: 50vh;
}

.fixed_header thead tr {
 display: block;
 border-radius: 25px;
 background-color: #f3f3f3;
}

.fixed_header th {
padding: 5px;
text-align: center;
width: 300px;
}

.fixed_header td {
  padding: 5px;
  text-align: center;
  width: 300px;
  }

/* FIN ISSU DE*/

.Bouton-tableau {
  background: #1F3A8A;
  color: #fff;
  min-width: 25%;
  cursor: pointer;
  min-height:25px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;

}

.Bouton-tableau:hover {
  background-color: #cbd0da;
}

.expired_or_none {
  border-radius: 25px;
  background: #800000;
}

.critical {
  border-radius: 25px;
  background: #ff0000;
}

.warning {
  border-radius: 25px;
  background: #ef7c43;
}

.form-column {
  
  color:#fff;
  margin: 10px;
  flex:30%;
  min-height: 90%;
  max-height: 90%;
}

.form-column-vert {

  color:#fff;
  margin: 10px;
}

.choix-groupe {
  border-radius: 25px;
  padding: 20px;
  background: #1F3A8A;
  margin:5px;
  height:30%;
}

.Ajoute-produit {
  border-radius: 25px;
  padding: 20px;
  background: #1F3A8A;
  margin:5px;
  height:63.5%;
}

.Tableau-et-boutons {
  margin:10px;
  padding: 20px;
  border-radius: 25px;
  background: #fff;
  flex:100%;
  display:table;
  min-height: 90%;
  max-height: 90%
}

.Tableau-et-boutons-vert {
  margin:10px;
  padding: 20px;
  border-radius: 25px;
  background: #fff;
  display:table;
  min-height: 30%;
}

.Partie-fonctionnelle {
  display: flex; 
  height: 100%;
}

.Partie-fonctionnelle-vert {
  height: 100%;
}


.Boutons-en-bas {
  min-height:1%;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}


.Tableau {
  min-height: 90%;
}

/*new*/
.suggestion-list {
  position: relative;
  top: 100%;
  border: 1px solid black;
  border-radius: 7px;
  background: rgb(162, 230, 255);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.suggestion-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #cbd0da;
  border-radius: 7px;
}

/* POPUP CODE */


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  text-align: left;
}

.popup button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #1f3a8a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  float:right ;
}

.popup button:hover {
  background: #0056b3;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.popup-buttons {
  display: flex;
  justify-content: flex-end; /* Aligne les boutons à droite */
  gap: 10px; /* Espacement entre les boutons */
  margin-top: 15px;
}

.popup-buttons button {
  padding: 10px 15px;
  border: none;
  background: #1f3a8a;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.popup-buttons button:hover {
  background: #0056b3;
}

.popup-buttons button:first-child {
  background: #4caf50; /* Vert pour le bouton d'envoi */
}

.popup-buttons button:first-child:hover {
  background: #388e3c;
}

/* début volé de https://www.geeksforgeeks.org/how-to-add-auto-complete-search-box-in-reactjs/ */
.autocomplete-container {
  position: relative;
  width: 90%;
}

.autocomplete-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  background: #172b66;
  color: #a6a6a6;
  border-color: #172b66;
}

.autocomplete-suggestions {
  position: absolute;
  width: 100%;
  left: 5%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px 5px 5px 5px;
  padding: 0;
  margin: 0;
  z-index: 1000;
  background: #192f71;
  color: #a6a6a6;
  border-color: #172b66;
  list-style: none;
}

.autocomplete-suggestion {
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #a6a6a6;
  background: #192f71;
  list-style: none; 
  margin:0;
  transform: translate(-10%); 
}

.autocomplete-suggestion:hover {
  background: #374e95;
  color: #b6b5b5;
}

/*fin volé de*/
.bouton-scan {
  margin-top: 3%;
  border-radius: 50px;
  background: #eff3f7;
  color: #1F3A8A;
  min-width: 33%;
  width:90%;
  height:30px;
  outline: none;
  border:none;

  
}
.bouton-scan:hover {
  background-color: #bdc7d4;
}

.ou {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #ffffff; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
}

.ou span {
  padding:0 10px; 
  background:#1F3A8A; 
}
